 html, body {
    background-color: #26292E;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    width:1024px;
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    text-rendering: optimizeLegibility;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix, .cf, .comment-respond {
  zoom: 1;
}
.clearfix:before, .cf:before, .comment-respond:before, .clearfix:after, .cf:after, .comment-respond:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after, .comment-respond:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', Helvetica, sans-serif;
  line-height: normal;
  font-weight: 300;
}

h3 {
  margin: 0;
}

text {
  fill: white;
}

ul {
  display: inline-block;
  list-style-type: none;
  -webkit-padding-start: 0%;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #fbf111;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Document styling */
#wrapper {
   position: relative;
}

#title {
  font-size: 24px;
  font-weight: 100;
  color: white;
}
#title div.large, #title span.large {
  font-size: 36px;
}

footer {
  color: #666;
}

#desc {
      position: relative;
      float:right;
      z-index:-999;
      left: 380px;
      width: 400px;
      }

button {
    background: none repeat scroll 0 0 #e0e0e0;
    color: #23262C;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 40px;
    text-align: center;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    width: auto;
    opacity: 0.8;
    height: 40px;
    border-radius: 0;
}

button:hover {
  opacity: 1;
}

.input-text {
  max-width: 100%;
  height: 40px;
  padding: 1%;
  font-size: 90%;
}

.c-box {
  width: 200px;
  height: 220px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.c-box svg {
  position: absolute;
  left: -10px;
  top: 10px;
}
.polygon-areas,
.polygon-vertices {
  display: none;
}
.polygon-vertices.current,
.polygon-areas.current {
  display: block;
}
.c-box {
  display: none;
}
.c-box.current {
  display: block;
}
.filters {
    margin-bottom: 40px;
    text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  text-align: center;
}

/***************************************************************
* home page style
****************************************************************/
.pt-page-1 .container {
  background: url(../img/logo.png) no-repeat center 5%;
  background-size: 7%;
}
.logo-img {
  cursor: pointer;
  width: 8%;
  height: 15%;
  position: absolute;
  margin-left: 46%;
  margin-top: 2%;
}
#searchCont {
  padding: 10% 5% 5% 5%;
}
#searchbar {
  width: 40%;
}
span.word {
  display: inline-block;
  padding: 5px 10px;
}
ul#search-results {
  padding: 0;
}
#search-results li {
  background: #fff;
  color: #26292E;
  margin: 30px;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  opacity: 0.9;
}
#search-results li:hover {
  opacity: 1;
}

/***************************************************************
* sidebar style
****************************************************************/
#sidebar {
  position: fixed;
  top: 0%;
  width: 15%;
  padding: 1%;
  height: 100%;
  z-index: 999;
}
#sidebar.left {
  left: 0%;
  border-right: .5px solid white;
}
#sidebar.right {
  right: 0%;
  border-left: .5px solid white;
}
#selected-exercises {
  list-style-type: none;
  width: 100%;
  min-height: 50%;
}
#selected-exercises li {
  padding: 5% 0 2% 5%;
}
.exerciseList {
  padding-left: 5%;
}
.deleteicon {
  cursor: pointer;
}
#sidebar .description {
  margin-top: 80%;
  text-align: center;
}
.saveForm {
  width: 100%;
  text-align: center;
}
#training-name {
  margin-bottom: 5%;
}
/************************************************
 * tree section
 ************************************************/
 #treeCont {
  margin-top: -5%;
 }
.node {
  cursor: pointer;
}
.node text {
  font-size: 100%;
  font-weight: 100;
}
.link {
  fill: none;
  stroke: #fff;
  stroke-width: 0.3%;
  stroke-opacity: 0.4;
}
.tooltip {
  position: absolute;
  text-align: center;
  padding: 1%;
  font-size: 90%;
  line-height: 1.3em;
  background-color: white;
  color: black;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  word-wrap: break-word;
  width: 200px;
}
/************************************************
 * training section
 ************************************************/
#training-page h3 {
  text-align: center;
  width: 70%;
}
#training-chart {
  padding-top: 3%;
  width: 70%;
  float: left;
}
#training-filters-cont {
  width: 30%;
  float: right;
  text-align: left;
  margin-top: 5%;
}
#training-filters-list {
  list-style-type: none;
  width: 100%;
}
#training-filters-list li {
  padding-left: 5%;
}
.filterbox {
  margin: 0 5% 0 0;
  position: relative;
  top: -2px;
}

/***************************************************************
* exercise section
****************************************************************/
#exercise-name {
  padding-right: 15%;
}
.video-cont {
  display: flex;
  height: 100%;
}
.video-column {
  width: 50%;
  height: 100%;
  padding: 5%;
  text-align: left;
}
.video-frame {
  width: 80%;
  height: 40%;
  border: .5px solid white;
  margin-bottom: 10%;
}
.video-filters-list {
  width: 100%;
}
.video-filters-list li{
  text-align: initial;
}
/***************************************************************
* Codrops Header Style
****************************************************************/
.codrops-top {
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  font-size: 18px;
  line-height: 2.2;
  z-index: 50000;
  top: 0;
  left: 0;
}

.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #fff;
  display: inline-block;
}

.codrops-top a:hover {
  background: rgba(255,255,255,0.2);
}

.codrops-top span {
  cursor: pointer;
}

.codrops-top span.right {
  float: right;
  margin-right: 1%;
}

.codrops-top span.left {
  margin-left: 1%;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
  content: "\e001";
}
.codrops-icon-prev:before {
  content: "\e004";
}
.codrops-icon-archive:before {
  content: "\e002";
}
.codrops-icon-next:before {
  content: "\e000";
}
.codrops-icon-about:before {
  content: "\e003";
}

@media screen and (max-width: 25em) {
  .codrops-icon span {
    display: none;
  }
}

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  transition: all .2s ease-in-out;
}
.pt-perspective.sidebar-left,
.pt-perspective.sidebar-right {
  width: 85%;
}
.pt-perspective.sidebar-left {
  margin-left: 15%;
}
.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}

.no-js body {
  overflow: auto;
}

.pt-page-ontop {
  z-index: 999;
}

/***************************************************************
* Text Styles, Colors, Backgrounds
****************************************************************/
.pt-page h1 {
  position: absolute;
  font-weight: 300;
  font-size: 4.4em;
  line-height: 1;
  letter-spacing: 6px;
  margin: 0;
  top: 12%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -0.3em;
}

.pt-page h1 span {
  font-family: 'Satisfy', serif;
  font-weight: 400;
  font-size: 40%;
  text-transform: none;
  word-spacing: 0;
  letter-spacing: 0;
  display: block;
  opacity: 0.4;
}

.pt-page h1 strong {
  color: rgba(0,0,0,0.1);
}

/* Triggers (menu and button) */

.pt-triggers {
  position: absolute;
  width: 300px;
  z-index: 999999;
  top: 12%;
  left: 50%;
  margin-top: 130px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.no-js .pt-triggers {
  display: none;
}

.pt-triggers .dl-menuwrapper button,
.pt-touch-button {
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 20px;
  padding: 0px 20px;
  line-height: 50px;
  height: 50px;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  display: block;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pt-touch-button {
  background: #fff;
  color: #aaa;
}

.pt-triggers .dl-menuwrapper button {
  margin-bottom: 0;
}

.pt-touch-button:active {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.touch .pt-triggers .dl-menuwrapper {
  display: none;
}

.pt-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center;
}

.pt-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

.no-cssanimations .pt-message {
  display: block;
}

@media screen and (max-width: 47.4375em) {
  .pt-page h1 {
    font-size: 3em;
  }

  .pt-triggers .dl-menuwrapper {
    display: none;
  }
}

@media screen and (max-height: 45.9em) {
  .pt-triggers .dl-menuwrapper li a {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
    line-height: 24px;
  }
}

@media screen and (max-height: 38em) {
  .pt-triggers .dl-menuwrapper {
    display: none;
  }
}
